/* theme custom properties */
:root {
  --insta-color-primary: #111;
  --insta-color-secondary: #808080;
  --insta-color-tertiary: #466b45;
  --insta-color-code: #f5f5f5;

  --insta-color-background: #fff;
  --insta-color-background: color(display-p3 1 1 1);

  --insta-font-sans: 'Poppins', sans-serif;
  --insta-font-serif: 'Lora', serif;
  --insta-font-mono: monospace;

  --insta-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  --insta-border-radius: 3px;

  --insta-content-width: 770px;

  --insta-space-xs: 0.25rem;
  --insta-space-sm: 0.5rem;
  --insta-space-md: 1.25rem;
  --insta-space-lg: 2rem;
  --insta-space-xl: 4rem;

  --insta-font-xs: 0.5rem;
  --insta-font-sm: 0.75rem;
  --insta-font-md: 18px;
  --insta-font-lg: 1.25rem;
  --insta-font-xl: 1.75rem;
  --insta-font-xxl: 2rem;

  --insta-alignmedium: min(calc(100vw - 2 * var(--insta-space-md)), 768px);
  --insta-alignwide: min(calc(100vw - 2 * var(--insta-space-lg)), 990px);
  --insta-alignfull: min(calc(100vw - 2 * var(--insta-space-xl)), 1280px);
}

/* --- custom resets --- */
html {
  font-family: var(--insta-font-sans);
  font-size: var(--insta-font-md);
  line-height: 1.65;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--insta-font-sans);
  font-weight: 700;
}

a {
  color: var(--insta-color-primary);

  &:hover {
    color: var(--insta-color-tertiary);
  }
}

img {
  height: auto;
  max-width: 100%;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
optgroup,
select,
textarea {
  border-radius: var(--insta-border-radius);
  border: 1px solid var(--insta-color-primary);
  color: var(--insta-color-primary);
  font-size: var(--insta-font-md);
  font-weight: 400;
  padding: var(--insta-space-sm) var(--insta-space-sm);
  width: 100%;

  &:focus {
    border-color: var(--insta-color-tertiary);
    outline: none;
  }
}

input[type='submit'],
input[type='button'],
button {
  background-color: var(--insta-color-primary);
  border-radius: var(--insta-border-radius);
  border: none;
  color: var(--insta-color-background);
  cursor: pointer;
  display: inline-flex;
  font-size: var(--insta-font-md);
  font-weight: 700;
  padding: var(--insta-space-sm) var(--insta-space-md);
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: var(--insta-color-tertiary);
  }
}

input[type='search'] {
  width: 80%;
}

/* --- theme layout --- */
body {
  background: var(--insta-color-background);
  color: var(--insta-color-primary);
  margin: 0;
  padding: 0;
}

.site {
  display: flex;
  flex-direction: column;
  gap: var(--insta-space-lg);

  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }
}

/* --- header --- */
.site-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: var(--insta-space-lg);

  @media screen and (min-width: 1024px) {
    min-width: 230px;
    padding: 0 var(--insta-space-lg);
    position: sticky;
    top: var(--insta-space-xl);
  }

  .site-branding {
    @media screen and (min-width: 1024px) {
      margin: 0 0 var(--insta-space-lg) 0;
    }

    .custom-logo {
      border-radius: 50%;
      height: 100px;
      transition: all 0.4s linear;
      width: 100px;

      &:hover {
        transform: rotate(360deg);

        @media (prefers-reduced-motion) {
          transform: none;
        }
      }
    }

    .site-title {
      font-size: var(--insta-font-xxl);
      font-weight: 700;
      margin: 0 0 var(--insta-space-sm) 0;
    }

    .site-description {
      margin: 0;
      padding: 0;
    }
  }

  .main-navigation {
    ul {
      list-style: none;
      padding: var(--insta-space-sm) var(--insta-space-md);
      text-align: center;

      @media screen and (min-width: 1024px) {
        padding: 0;
      }

      li {
        display: inline-flex;

        @media screen and (min-width: 1024px) {
          display: list-item;
        }

        a {
          color: var(--insta-color-primary);
          padding: var(--insta-space-sm);
          position: relative;
          text-decoration: underline;

          &:hover {
            color: var(--insta-color-tertiary);
          }

          @media screen and (min-width: 1024px) {
            text-decoration: none;
            padding: 0;

            @media (prefers-reduced-motion) {
              text-decoration: underline;
            }

            &::after {
              background-color: var(--insta-color-tertiary);
              bottom: 0;
              content: '';
              height: 2px;
              left: 0;
              position: absolute;
              transition: width 0.2s linear;
              width: 0;
            }

            &:hover {
              color: var(--insta-color-tertiary);

              &::after {
                width: 100%;

                @media (prefers-reduced-motion) {
                  width: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* --- content --- */
.site-main {
  margin: 0;
  padding: var(--insta-space-lg);

  @media screen and (min-width: 1024px) {
    padding: var(--insta-space-lg) var(--insta-space-lg) 0 0;
  }

  .hentry,
  .page-content {
    border-bottom: 1px solid var(--insta-color-tertiary);
    margin: 0 0 var(--insta-space-lg) 0;
    max-width: var(--insta-content-width);

    @media screen and (min-width: 1024px) {
      padding-top: var(--insta-space-lg);
    }
  }

  .entry-header {
    display: flex;
    flex-direction: column;
    gap: var(--insta-space-md);
    align-items: center;
    justify-content: center;
    margin-bottom: var(--insta-space-lg);

    .entry-title {
      font-family: var(--insta-font-serif);
      font-size: 2.25rem;
      line-height: 1;
      margin: 0;
      text-align: center;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

      @media screen and (min-width: 1024px) {
        font-size: 3.5rem;
      }

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .entry-meta {
      font-style: italic;
      font-size: var(--insta-font-sm);
      text-align: center;
    }

    .updated:not(.published) {
      display: none;
    }
  }

  .page-header {
    @media screen and (min-width: 1024px) {
      padding-top: var(--insta-space-lg);
    }
  }

  .page-title {
    font-family: var(--insta-font-serif);
    font-size: 2.25rem;
    line-height: 1;
    margin: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

    @media screen and (min-width: 1024px) {
      font-size: 3rem;
    }
  }

  .entry-content {
    font-size: var(--insta-font-md);
    margin: 0 auto;
    max-width: var(--insta-content-width);
  }

  .wp-block-image {
    a {
      display: inline-block;
    }
  }

  .wp-block-image.size-medium {
    max-width: var(--insta-alignmedium);
    margin: 0 auto;
  }

  .wide-max-width,
  .alignwide {
    max-width: var(--insta-alignwide);
    margin: 0 auto;
  }

  figcaption {
    font-size: var(--insta-font-md);
    font-style: italic;
  }

  .wp-block-code {
    border: none;
    margin: 0;
    overflow: auto;
    padding: 0;
  }

  .wp-block-preformatted,
  .wp-block-code code,
  pre {
    background: var(--insta-color-code);
    border: 1px solid var(--insta-color-secondary);
    border-left: 3px solid var(--insta-color-secondary);
    color: var(--insta-color-primary);
    display: block;
    font-family: var(--insta-font-mono);
    font-size: var(--insta-font-sm);
    line-height: var(--insta-line-height-body);
    margin-bottom: var(--insta-space-md);
    overflow: auto;
    padding: var(--insta-space-md);
    page-break-inside: avoid;
    white-space: pre;
    word-wrap: break-word;
  }

  .wp-block-video video {
    aspect-ratio: 16 / 9;
  }

  .wp-element-caption {
    font-size: var(--insta-font-sm);
    font-style: italic;
    text-align: center;
  }

  .entry-footer {
    display: flex;
    gap: var(--insta-space-md);
    justify-content: space-between;
    margin: var(--insta-space-md) 0;

    i,
    a {
      font-size: 0.8rem;
    }
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    margin: var(--insta-space-lg) 0;
  }
}

/* --- search and archives --- */
.archive,
.search-results {
  .page-title {
    color: var(--insta-color-tertiary);
    font-family: var(--insta-font-sans);
    margin-bottom: var(--insta-space-lg);
    text-align: center;
  }
}

/*--- comments --- */
.comments-area {
  border-bottom: 1px solid var(--insta-color-tertiary);
  margin: 0 0 var(--insta-space-lg) 0;
  max-width: var(--insta-content-width);
}

.comment-reply-title,
.comments-title {
  font-family: var(--insta-font-sans);
  font-size: var(--insta-font-lg);
  font-weight: 700;
  margin: 0 0 var(--insta-space-lg) 0;
}

.comment-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .comment {
    border-left: 4px solid var(--insta-color-secondary);
    margin: var(--insta-space-lg) 0;
    padding-left: var(--insta-space-sm);
  }

  .comment-meta,
  .comment-author {
    align-items: center;
    display: flex;
    gap: var(--insta-space-sm);
    justify-content: space-between;
  }

  .comment-metadata {
    font-size: var(--insta-font-sm);
    font-style: italic;
  }

  .comment-reply-title {
    align-items: center;
    display: flex;
    font-style: italic;
    gap: var(--insta-space-lg);
  }

  .comment-form {
    width: 100%;

    @media screen and (min-width: 1024px) {
      width: 50%;
    }
  }
}

/* --- footer --- */
.site-footer {
  font-size: var(--insta-font-sm);
  margin: 0;
  padding: 0 var(--insta-space-lg) var(--insta-space-lg);
  text-align: center;

  @media screen and (min-width: 1024px) {
    padding: 0 0 var(--insta-space-lg);
  }
}

/* --- accessibility --- */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: var(--insta-color-background);
  border-radius: 3px;
  box-shadow: var(--insta-box-shadow);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

#primary[tabindex='-1']:focus {
  outline: 0;
}

/* --- font awesome ---*/
.fa-solid,
.fa-regular {
  margin: 0 4px;
}
