# os
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# package managers
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
dist/
vendor/
.stubs/

# wordpress
uploads/
db.php
object-cache.php

# plugins
plugins/*
!/plugins/grd-acf-blocks/

# mu-plugins
mu-plugins/*
!/mu-plugins/grd-must-use.php

# theme
themes/*
!/themes/seedlet-child/
!/themes/insta/

# artifacts
build/

# typescript
*.tsbuildinfo
