/**
 * Custom styles.
 */
:root {
  --responsive--alignwide-width: min(
    calc(100vw - 2 * var(--global--spacing-horizontal)),
    990px
  );

  --wpforms-field-border-radius: 0 !important; /* stylelint-disable-line */
}

/* center all titles */
.entry-title,
.site-info,
.page-title {
  text-align: center;
}

/* disable border on post/page titles */
.entry-title > a {
  border: none;
}

.entry-meta {
  font-size: var(--global--font-size-sm);
  text-align: center;
}

/* various spacing adjustments */
.page-header {
  margin-bottom: var(--global--spacing-vertical);
}

.site-main > article > .entry-footer {
  margin-top: var(--global--spacing-vertical);
}

ul {
  padding-left: var(--global--spacing-horizontal);
}

li {
  margin-bottom: calc(var(--global--spacing-vertical) - 10);
}

.site-info p {
  margin-bottom: var(--global--spacing-vertical);

  &.license {
    font-size: 0.75em;
  }
}

/* style the article grid */
.article-grid {
  align-items: start;
  display: grid;
  grid-gap: var(--global--spacing-vertical);
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  margin: 0 auto;
  max-width: 960px;

  .entry-title {
    font-size: var(--global--font-size-xl);
    text-align: left;
  }

  .entry-content {
    font-size: var(--global--font-size-sm);
  }
}

/* reset code block styles */
.wp-block-code {
  border: none;
  margin: 0;
  overflow: auto;
  padding: 0;
}

/* style code blocks */
.wp-block-preformatted,
.wp-block-code code {
  background: var(--global--color-tertiary);
  border: 1px solid var(--global--color-background-dark);
  border-left: 3px solid var(--global--color-secondary);
  color: var(--global--color-foreground);
  display: block;
  font-family: monospace;
  font-size: var(--global--font-size-xs);
  line-height: var(--global--line-height-body);
  margin-bottom: var(--wp--preset--spacing--30);
  overflow: auto;
  padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--50);
  page-break-inside: avoid;
  white-space: pre;
  word-wrap: break-word;
}

/* wpforms */
.wpforms-container .wpforms-field-label {
  font-weight: 400;
}

@media only screen and (min-width: 482px) {
  .site-main > article > .entry-header {
    margin-bottom: calc(var(--global--spacing-vertical) * 3);

    .entry-title {
      font-size: var(--global--font-size-xxxl);
    }
  }
}

/* remove float from alignright images */
@media screen and (max-width: 652px) {
  .wp-block-image .alignright {
    float: none;
  }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --global--color-background: #2b2b2b;
    --global--color-foreground: #fff;
    --global--color-tertiary: #3a3a3a;

    --global--color-border: var(--global--color-tertiary);
    --global--color-primary: var(--global--color-foreground);
    --global--color-foreground-low-contrast: var(--global--color-foreground);
    --global--color-background-dark: var(--global--color-background);

    --form--background-color: var(--global--color-foreground);
    --form--color-text: var(--global--color-background);
    --form--border-color: var(--global--color-tertiary);

    --wpforms-label-color: var(
      --global--color-primary
    ) !important; /* stylelint-disable-line */
    --wpforms-label-sublabel-color: var(
      --global--color-primary
    ) !important; /* stylelint-disable-line */
  }
}
